#left_sidebar{
	float:left;
	width: 15%;
	height: 300px;
	margin-top: 100px;
	margin-left: 10px;
	border-style: outset;
	border-radius: 10px;
}

#left_sidebar ul{
	list-style:none;
	color: black;
}
#left_sidebar li{
	margin-top: 30px;
	color: black;
}
#left_sidebar li a{
	color: inherit;
	text-decoration: inherit;
	font-weight: bold;
	font-size: 150%;
}